:root {
	--azul: #4b4bff;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  min-height: 100vh;
  background: #A1FFCE;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #FAFFD1, #A1FFCE);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #FAFFD1, #A1FFCE); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.App {
  padding: 2rem 0;
  text-align: center;
}

.searchform-wrapper {
  display: flex;
  justify-content: center;
  margin-top: 2rem;
}

.searchform {
  display: flex;
}

.searchform-input {
  border: 1px solid lightgray;
  border-bottom-left-radius: 5px;
  border-top-left-radius: 5px;
  font-weight: bold;
  outline: none;
  padding: 0 1rem;
  min-width: 35vmax;
}

.searchform-input:focus {
  background-color: var(--azul);
  border: none;
  color: white;
}

.searchform-button {
  background-color: var(--azul);
  border: none;
  border-bottom-right-radius: 5px;
  border-top-right-radius: 5px;
  color: white;
  font-weight: bold;
  outline: none;
  padding: 1rem 1.5rem;
  cursor: pointer;
}

.credits {
  margin-top: 2rem;
  opacity: 0.3;
  transition: all 0.4s;
}

.credits:hover {
  opacity: 1;
}

.movies-list {
  display: grid;
  grid-gap: 2.5rem 3rem;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  grid-auto-rows: 450px;
  justify-content: center;
  margin: 4rem 2rem 0 2rem;
}

.movie-card {
  border-radius: 10px;
  box-shadow: 0 7px 15px black;
  overflow: hidden;
  position: relative;
  text-decoration: none;
}

.movie-info {
  justify-content: space-between;
  background-color: black;
  border-top-right-radius: 15px;
  border-top-left-radius: 15px;
  bottom: 0;
  display: flex;
  flex-direction: column;
  height: 0;
  left: 0;
  opacity: 0.9;
  overflow: hidden;
  position: absolute;
  transition: all 0.4s;
  width: 100%;
  z-index: 100;
}

.movie-card:hover .movie-info {
  height: 45%;
}

.movie-img {
  left: 0;
  height: 100%;
  position: absolute;
  top: 0;
  width: 100%;
}

.movie-title {
  color: white;
  padding: 2rem 2rem 0 2rem;
  text-overflow: ellipsis;
}

.movie-year {
  color: gray;
  padding: 0 2rem 2rem 2rem;
  text-align: left;
}

.not-found {
  color: gray;
  left: 50%;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
}
/*
.button-to-home {
  background-color: var(--azul);
  border-radius: 50%;
  color: white;
  font-weight: bold;
  font-size: 1.5rem;
  opacity: 0.6;
  padding: 0.75rem 1.2rem;
  text-decoration: none;
}
*/
.movie-detail {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  margin: 0 10vmax;
  justify-content: center;  
}

.movie-detail-poster > h1 {
  padding: 1rem 0;
}

.movie-detail-info {
  align-self: center;
  padding: 2rem 3vmax 0 3vmax;
  text-align: justify;
}

.movie-detail-info > h4 {
  padding-top: 1rem;
}

.movie-detail-info > p {
  padding-left: 1rem;
}

.ratings-inline {
  display: flex;
  padding: 1rem 2rem 0 0;
}

.imdb-rating {
  padding-left: 5rem;
}